body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Nunito", sans-serif;
  color: #222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}
/*---------*/
body {
  background: #1f1f1f;
}

.menu-bg {
  background-image: url("/img/fundo-1.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-bg h1 {
  text-align: center;
  font-size: 8rem;
  color: #fff;
  padding-top: 6rem;
}

.menu-bg h1 span {
  color: #f00;
}

.menu-nav {
  margin-top: 30px;
}

.menu-nav ul {
  display: flex;
  justify-content: center;
}

.menu-nav ul li {
  margin: 15px;
  text-align: center;
  font-size: 1.5em;
}

.menu-nav a {
  padding: 20px 40px;
  background: #c5c5c5a1;
  font-size: 2rem;
  color: #fff;
  border-radius: 10px;
}

.menu-nav a:hover {
  background: #8b8b8ba1;
}

/*--------------------*/
.filme {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.filme h1,
h2 {
  color: #fff;
  font-size: 2rem;
  padding: 10px;
}

.conteudo-filme {
  display: flex;
  gap: 20px;
}

.conteudo-filme p {
  color: #fff;
  font-size: 4rem;
  line-height: 35px;
  text-indent: 15px;
}

.filme iframe {
  margin: 10px auto;
  width: 860px;
  height: 490px;
}

.filme p {
  color: #fff;
  font-size: 1.5rem;
  line-height: 35px;
  text-indent: 15px;
}

.filme:nth-child(2n) {
  background: #363636;
}
